<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <header><% include partials/template/header.ejs %></header>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

  <% include partials/template/footer.ejs %>
  </body>
</html>
